<body style="background-color: gray;">
<form >
    <mat-form-field>
        <mat-label>CIN</mat-label>
        <input matInput placeholder="CIN">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>CV</mat-label>
        <input matInput placeholder="CV">
    </mat-form-field>
    <button mat-button type="submit" style="background-color: #4CAF50;">submit</button>
</form>

</body>
    